body {
  background-color: #081517;
  color: white; }

textarea {
  resize: none; }

.hide {
  display: none; }

#error {
  background-color: #EF9A9A; }

#success {
  background-color: #A5D6A7; }

#error, #success {
  padding: .5em;
  width: fit-content; }
  #error p, #success p {
    margin: 0;
    display: block;
    width: fit-content; }

.flexbox {
  display: flex;
  justify-content: center; }

h1, h2 {
  color: #81CCC0; }

h1 {
  text-align: center; }

ul.endpoint-selector {
  list-style: none;
  padding: 0; }

#submit {
  background-color: #81CCC0;
  color: #081517;
  border: none;
  padding: 1em 2em; }

#charcount-wrapper {
  float: right;
  margin: .5em; }

.container {
  padding: 0 2em; }
